@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-space-mono);
}

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
}

/* Base scrollbar styling */
.custom-scrollbar::-webkit-scrollbar {
  width: 3px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #e5e7eb;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #000000;
}

/* Subtle selection color */
::selection {
  background: #000000;
  color: #ffffff;
}